$n: 8;
$bubbleMinSize: 70px;
$bubbleMaxSize: 120px;
.banner-content ul li {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background: linear-gradient(to left, var(--color-secondary), var(--color-primary));
    list-style: none;
    border-radius: 50%;
    bottom: 0;
    opacity: 0;
    min-width: $bubbleMinSize;
    min-height: $bubbleMinSize;
    max-width: $bubbleMaxSize;
    max-height: $bubbleMaxSize;
}

.home__svg {
    width: 3rem;
    height: 3rem;
    min-width: $bubbleMinSize/2;
    min-height: $bubbleMinSize/2;
    max-width: $bubbleMaxSize/2;
    max-height: $bubbleMaxSize/2;
}

@for $i from 1 through $n {
    .banner-content ul li:nth-child(#{$i}) {
        $bubbleSize: random(150);
        $randomDuration: random(10) + 10;
        animation: bubbles $randomDuration + s linear infinite;
        left: 2% * random(3) * $i;
        width: $bubbleSize + px;
        height: $bubbleSize + px;
        animation-delay: (random(3) * 0.3 * $i)-2 + s;
        & .home__svg {
            width: $bubbleSize/2 + px;
            height: $bubbleSize/2 + px;
        }
    }
}

@keyframes bubbles {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0.5;
    }

    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
}
