
.home__text {
    text-align: justify;
}

#social-media > * {
    margin: 0px 10px 0px 10px;
}

.banner {
    background: linear-gradient(to left, var(--color-primary), var(--color-secondary));
    z-index: 200;
    width: 100%;
    height: 110vh;
    min-height: 15rem;
    padding-top: 1em;
    display: block;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.banner__img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border: 0.2rem solid var(--color-light);
}

.banner__title {
    color: #4A4A4A;
}

.banner__text {
    color: var(--color-dark);
    font-size: 2.175em;
    margin-bottom: 0;
}

.banner__text:not(:first-child) {
    margin-left: 1rem;
}

.banner__sub-text {
    color: var(--color-dark-soft);
    font-size: 1rem;
}

.banner-content {
    height: 100vh;
    display:table-cell;
    vertical-align: middle;
    text-align: justify;
}
.text-container {
    display: inline-flex;
}

.home__projects-link {
    cursor: pointer;
    position: absolute;
    padding: 10px 30px;
    font-size: larger;
    font-weight: bolder;
    border: 2px solid var(--color-dark);
    z-index: 1;
    text-decoration: none;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.2s;
}

.home__projects-link:hover {
    background-color: var(--color-dark);
    color: var(--color-light);
}

@media (max-width: 952px) {

    .text-container {
        display: block;
    }
    .banner__text {
        margin-left: 0rem;
        margin-bottom: 0.5rem;
    }
    .banner__text:not(:first-child) {
        margin-left: 0rem;
        margin-top: 0.5rem;
    }
    .banner__sub-text {
        text-align: left;
    }
}
