$n: 8;

@for $i from 1 through $n {
    .svg-icon:nth-child(#{$i}) {
        animation: pulse 4s infinite;
        animation-delay: $i * 0.5s;
        & .tp {
            animation: pulseTooltip 4s infinite;
        animation-delay: $i * 0.5s;
        }
    }
}

@keyframes pulseTooltip {
    0% {
        visibility: hidden;
    }
    10% {
        visibility: visible;
    }
    20%,
    100% {
        visibility: hidden;
    }
}

@keyframes pulse {
    0% {
        filter: grayscale(90%) brightness(104%) contrast(97%);
        transform: translateX(0);
    }
    10% {
        transform: translateY(-15px);
        filter: none;
    }
    20%,
    100% {
        filter: grayscale(90%) brightness(104%) contrast(97%);
        transform: translateX(0);
    }
}
